/*** Experience ***/
#experience {
  background-color: #4c6d86;
  padding: 6em 4em 5.6em;
}

#experience h2 {
  color: #fff;
  margin-bottom: 0.7em;
}

#experience .tag-line {
  color: white;
  font-size: 1.4em;
}

#experience i {
  color: rgb(255, 138, 89);
  font-size: 4em;
}

#experience h3 {
  color: #fff;
}

.experience-topics p {
  color: #acaeb2;
  font-family: "Maven pro", sans-serif;
  /*font-weight: 500;*/
}

.experience-topics ul li {
  list-style: none;
  color: #bbd2ff;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
}
